* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.titulo {
    font-family: 'Dancing Script', cursive;
	text-align:justify;
	padding-left: 30px;
	padding-right: 30%;
    background-color: #fc9fba;
    width: 100%;
    
}

/* MENU */
.menu {
		display: flex;
		justify-content: space-around;
		font-size: 3vmin;
		flex-wrap: wrap;
		background-color: #fcc475;
	}
	
	.menuOpciones {
		margin: 30px 0 30px;
		border-radius: 25px;
		font-size: 30px;
		font-weight: 600;
		text-decoration: none;
		color: black;
		padding: 15px;
		width: 15%;
		text-align: center;
		transition: transform 450ms;
	
	}
	
	.menuOpciones:hover {
		border-radius: 25px;
		background-color: #5b3e40;
		color: rgb(252, 252, 252);
		box-sizing: border-box;
		text-align: center;
		transform: translateY(-10px);
	}

/* Slider */
h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 1000px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.slider-frame {
    width: 60%;
    max-width: 900px;
    margin: 20px auto;
    overflow: hidden;
    border: 10px solid #5b3e40;
    border-radius: 15px;
    box-shadow: 7px 7px 15px;
    position: relative;
}

/* Productos destacados */

.productos{
	position: relative;
	width: 100vw;
	height: vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
  }
  
  
  .destacados img{
	height: auto;
	width: auto;
	max-width: 400px;
	max-height: 300px;
	display: block;
	margin: auto;
	border-radius: 5px;
	margin: 5px;
	

  }
  .destacados:hover {filter: opacity(.5);}

  /* boton ver mas  */

  button {
    margin-left: 50vw;
    margin-top: 20px;
	border-color: #5b3e40;
    margin-bottom: 3%;
    background-color: #fc9fba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
}
button:hover {
    background-color:#5b3e40;
    color: white;
}






header{
    background-color: #F59FBC;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
}

.contenedorHeader{
    display: grid;
    grid-template-columns: 15fr 1fr 1fr ;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    gap: 30px;
}

.logo{
    font-family: 'Pacifico', cursive !important;
    color: #583E3F;
}


.logIn a{
    display: grid;
    grid-template-columns: 1em 3em;
    gap: 6px;
    justify-content: center;

    background-color: aliceblue;
    text-decoration: none;
    padding: 12px;
    border-radius: 45px;

    color: #583E3F;
}

.logIn a:hover{

    background-color:#583E3F;
    color:#fff;
}

.Carrito a{
    display: grid;
    grid-template-columns: 1em 3em;
    gap: 1px;
    justify-content: center;

    text-decoration: none;
    color: #fff;
    font-size: 150%;

}

.Carrito a:hover{

    color: #583E3F;
}




/***********************/
.carritoCompra{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 1rem;
    background-color: rgb(255, 248, 236);
    box-shadow: -2px 0 4px hsl(0 4% 15%/ 10%);
    transition: 0.3s;
    z-index: 2;
}
.carritoCompra.active{
    right: 0;
}
.carrito-titulo{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.carrito-caja{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.carrito-caja img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;

}
.caja-detalle{
    display: grid;
    row-gap: 0.5rem;
}
.titulo-producto-carrito{
    font-size: 1.5rem;
    text-transform: uppercase;
}

.carrito-precion{
    font-weight: 500;
}
.carrito-contador{
    border: 1px solid #583E3F;
    outline-color: #F59FBC;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.carrito-remover{
    font-size: 24px;
    color: #F59FBC;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #583E3F;
}
.titulo-total{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    
}
.precio-total{
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1rem;
}
.btn-comprar{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    border-radius: 1rem;
    background-color: #F59FBC;
    color: #583E3F;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-comprar:hover{
    background-color: #583E3F;
    color: #F59FBC;
}
#cerrar-carrito{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #583E3F;
    cursor: pointer;
}

/***************************************/

footer{
    background-color:#FDC674;
}

.footerContenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;

}

.direccion ,.Horario, .Contactos{
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    text-align: center;
}

.iconos a {
    text-decoration: none;
    color: #583E3F;
    font-size: 200%;
    margin-top: 10px;
}

.iconos a:hover {
    color: #fff;
}

.navegador_principal{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    margin-top: 3%;
}

.navegador_principal a{
    color: #583E3F;
}
.botonInformacion,.botonInicio{
    text-decoration: none;
}
.botonTienda{
    text-decoration: underline;
}
.botonInicio:hover{
    text-decoration: underline;
}
.botonInformacion:hover{
    text-decoration: underline;
}
.botonPedidos:hover{
    text-decoration: underline;
}