body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-image: url(https://i.pinimg.com/564x/3a/31/af/3a31af0cb0c3861315030ceec9eda854--cute-wallpaper-backgrounds-pastel-iphone-wallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
}

*{
    box-sizing: border-box;
    
}

/**caja**/
.caja{
    
    position: relative;
    top: 25vh;
    width: 300px;
    height: 70%;
    text-align: center;

}

.gradiante{
    background-color: white;
    background-clip: border-box;
    border-radius: 10%;

}

.gradiante::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -10px;
    border-radius:inherit;
    background: linear-gradient(to right,#F59FBC,#FDC674);
}

input[type="text"],
input[type="password"]{
    padding: 5px;
    background: rgba(252, 197, 115, 0.5);
    border-radius: 10px;
}
.button{
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    margin-left: 85px;
    cursor: pointer;
    background:#F59FBC;
    text-decoration: none;
    color: #583E3F;
    margin-right: 50px;
}

.contenedor{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
h1{
    text-align: center;
    color: #583E3F;
    font-size: 40px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #583E3F;
}
.button:hover{
    background:#583E3F;
    color: #F59FBC;
}
p{
    text-align: center;
    font-size: 12px;
}
.link{
    text-decoration: none;
    color:#F59FBC;
    font-weight: 600;
}
.link:hover{
    color: #583E3F;
}