body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background: url(https://static.vecteezy.com/system/resources/previews/002/816/520/non_2x/modern-background-with-fluid-and-flower-shape-pink-purple-pastel-color-and-hand-draw-line-on-white-background-flat-minimal-design-with-copy-space-for-text-free-vector.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

*{
    box-sizing: border-box;
}
.formulario{
    width: 300px;
    border: 5px solid rgb(255, 163, 235);
    height: 70%;
    margin-top: 150px;
    margin-left: 550px;
    border-radius: 5px;
    background: rgb(241, 169, 248);
}
input[type="text"],
input[type="password"]{
    padding: 5px;
    background: rgb(167, 223, 245);
}
.button{
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    margin-left: 85px;
    cursor: pointer;
    background: rgb(243, 139, 156);

}

.contenedor{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: black;
    font-size: 40px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: rgb(8, 8, 8);
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
    font-size: 12px;
}
.link{
    text-decoration: none;
    color: blue;
    font-weight: 600;
}
.link:hover{
    color: cadetblue;
}